USE [master]
GO
/****** Object:  Database [DBLibraryTEST]    Script Date: 03.12.2020 15:38:57 ******/
CREATE DATABASE [DBLibraryTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBLibraryTEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBLibraryTEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBLibraryTEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBLibraryTEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBLibraryTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBLibraryTEST]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Author]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Author](
	[ID_Authors] [int] NOT NULL,
	[ID_Books] [int] NOT NULL,
 CONSTRAINT [PK_AuthorsAndBooks] PRIMARY KEY CLUSTERED 
(
	[ID_Authors] ASC,
	[ID_Books] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Genre]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Genre](
	[IdBook] [int] NOT NULL,
	[IdGenre] [int] NOT NULL,
 CONSTRAINT [PK_Book_Genre] PRIMARY KEY CLUSTERED 
(
	[IdBook] ASC,
	[IdGenre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Pleace]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Pleace](
	[IdBook] [int] NOT NULL,
	[IdPleace] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Detailes] [nvarchar](50) NULL,
	[Genre] [nchar](10) NULL,
	[Pleace] [nchar](10) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenreBook] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pleace]    Script Date: 03.12.2020 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pleace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rack] [nvarchar](100) NULL,
 CONSTRAINT [PK_Pleace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book_Author]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author_Authors] FOREIGN KEY([ID_Authors])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Book_Author] CHECK CONSTRAINT [FK_Book_Author_Authors]
GO
ALTER TABLE [dbo].[Book_Author]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author_Books] FOREIGN KEY([ID_Authors])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Book_Author] CHECK CONSTRAINT [FK_Book_Author_Books]
GO
ALTER TABLE [dbo].[Book_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Book_Genre_Books] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Book_Genre] CHECK CONSTRAINT [FK_Book_Genre_Books]
GO
ALTER TABLE [dbo].[Book_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Book_Genre_Genre] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Book_Genre] CHECK CONSTRAINT [FK_Book_Genre_Genre]
GO
ALTER TABLE [dbo].[Pleace]  WITH CHECK ADD  CONSTRAINT [FK_Pleace_Books] FOREIGN KEY([Id])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Pleace] CHECK CONSTRAINT [FK_Pleace_Books]
GO
USE [master]
GO
